{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "jquery": true,
    "node": true
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "no-await-in-loop": "warn",
    "lines-around-comment": ["error", { "beforeBlockComment": true }]
  }
}
